<%= form_for(@user_application) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name, "Applikationens namn" %>
    <%= f.text_field :name, class: 'form-ctrl' %>
  </div>

	<div class="form-group">
    <%= f.label :description, "Beskrivning"  %><small> (max 250 tecken)</small>
    <%= f.text_area :description, class: 'form-ctrl' %>
  </div>

	<div class="form-group">
  	<%= f.submit yield(:button_text), class: "btn btn-primary submit" %>
  </div>
<% end %>
