<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "rails_application", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Hem", root_path %></li>
				<li><%= link_to "Hjälp", help_path %></li>
				<li><%= link_to "Om", about_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Alla utvecklare", developers_path %></li>
					<li><%= link_to "Min profil", current_developer %></li>
					<li><%= link_to "Ändra uppgifter", edit_developer_path(current_developer) %></li>
					<li class="divider"></li>
					<li><%= link_to "Logga ut", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Logga in", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
